<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="maps.css" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div id="map-container-google-1" class="z-depth-1-half map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d259415.17901421335!2d24.45806069305542!3d59.471742082685196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46929499df5616bf%3A0x400b36d18fc6270!2sTallinn%2C%20Estonia!5e0!3m2!1sen!2suk!4v1589652553349!5m2!1sen!2suk" frameborder="0"
        style="border:0"></iframe>
    </div>
  </body>
</html>
