<!doctype html>
<html lang="en">
  <head>
    <title>Admin Page</title>
      <link href="../assets/dist/css/bootstrap.css" rel="stylesheet">
      <link href="signin.css" rel="stylesheet">
  </head>
    <body class="text-center">
      <form action="/admin" method="post"
      <div id="div1">
      <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="text" class="sr-only">Login</label>
        <input type="text" id="login" name="login" class="form-control" placeholder="Login" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password"class="form-control" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
      </div>
    </form>
    <%= @report %>
  </body>
</html>
