<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Your basket</h2>
    <div class="">
      Your basket is empty.
    </div>
  </body>
</html>
