<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h2>Thank You</h2>
<p>Your order has been placed</p>
<iframe src="https://giphy.com/embed/8PtX17SVcmcg" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/wimbledon-celebration-celebrate-winning-8PtX17SVcmcg">via GIPHY</a></p>

  </body>

  <script type="text/javascript">

    $(function() {
      window.localStorage.clear();
    });

  </script>

</html>
